@import url('../../css/styleGooglefont.css');

.abzac:first-letter {
    margin-left: 20px;
}

.introduction {
    width: 98%;
    margin: 0 auto;
    text-align: justify;
    overflow-wrap: break-word;
    font-family: 'Noto Serif';
}

.card {
    display: block;
    width: 98%;
    text-align: justify;
    overflow-wrap: break-word;
    font-family: 'Noto Serif';
    margin: 0 auto;
    padding: 0.5% 0;
    clear: both;
}

    .card .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        text-align: left;
        margin: 0;
        padding: 0.5% 0.5%;
        background-color: darkseagreen;
        margin-bottom: 1%;
    }

        .card .header p {
            color: yellow;
            font-family: Roboto;
            font-size: 1.1rem;
        }

        .card .header a {
            text-decoration: none;
            border-radius: 999px;
            margin-top: 8px;
            margin-bottom: 4px;
            padding: 4px 16px;
            outline: none;
            border: none;
            background: linear-gradient(to top, darkseagreen, white);
            transition: 0.1s linear;
            box-shadow: 1px -1px 0 0 gray, -1px -1px 0 0 gray, 1px 1px 0 0 gray, -1px 1px 0 0 gray;
            color: black;
        }

            .card .header a:hover {
                background: linear-gradient(to top, rgba(255, 165, 0, 0.70), white);
            }

            .card .header a:active {
                background: linear-gradient(to bottom, rgba(255, 165, 0, 0.70), white);
            }

    .card .set-video {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 65%;
        float: left;
        margin-right: 1%;
        box-shadow: 1px -1px 0 0 darkseagreen, -1px -1px 0 0 darkseagreen, 1px 1px 0 0 darkseagreen, -1px 1px 0 0 darkseagreen;
    }

        .card .set-video .video {
            display: block;
            width: 100%;
            z-index: 10;
        }

        
