/HTML5CSS3Essential/.vs 
/HTML5CSS3Essential/packages
/HTML5CSS3Essential/HTML5CSS3Advanced/bin 
/HTML5CSS3Essential/HTML5CSS3Advanced/obj
/HTML5CSS3Essential/HTML5CSS3Essential/bin 
/HTML5CSS3Essential/HTML5CSS3Essential/obj
/HTML5CSS3Essential/HTML5CSS3Essential/node_modules/.bin
/HTML5CSS3Essential/HTML5CSS3Essential/node_modules/.cache
/HTML5CSS3Essential/Lesson01/bin 
/HTML5CSS3Essential/Lesson01/obj
/HTML5CSS3Essential/Lesson02/bin 
/HTML5CSS3Essential/Lesson02/obj