/* LESSON 09 */
@import url('../../../css/styleGooglefont.css');

.header-menu {
    font-family: Cuprum, Arial, sans-serif;
}

.dws-menu * {
    margin: 0;
    padding: 0;
}

.dws-menu ol, .dws-menu ul {
    list-style: none;
}

.dws-menu > ul {
    display: flex;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

    .dws-menu > ul li {
        position: relative;
        border-left: 1px solid hsl(0, 100%, 70%);
        border-right: 1px solid hsl(0, 100%, 70%);
    }

        .dws-menu > ul li:first-child {
            border-left: 2px solid hsl(0, 100%, 70%);
        }

        .dws-menu > ul li:last-child {
            border-right: 2px solid hsl(0, 100%, 70%);
        }

        .dws-menu > ul li a {
            display: block;
            text-decoration: none;
            padding: 8px 30px 8px 40px;
            text-transform: uppercase;
            transition: 0.35s ease-in-out;
            color: black;
            background: linear-gradient(to top, hsl(0, 0%, 75%), white);
        }

            .dws-menu > ul li a i.fa {
                position: absolute;
                top: 8px;
                left: 12px;
                font-size: 1.3rem;
            }

.dws-menu li a:hover {
    background: linear-gradient(to top, hsl(0, 0%, 20%), hsl(0, 0%, 45%));
    color: hsl(0, 0%, 100%);
    box-shadow: 5px 5px 10px -5px hsl(30, 80%, 50%);
    transition: 0.28s ease;
}

/* Sub menu */
.dws-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
    transition: 0.3s ease-out;
    z-index: 10;
}

.dws-menu li > ul li {
    border-top: 1px solid hsl(60, 100%, 50%);
    border-left: 2px solid hsl(60, 100%, 50%);
    border-right: 2px solid hsl(60, 100%, 50%);
}

    .dws-menu li > ul li:first-child {
        border-left: 2px solid hsl(60, 100%, 50%);
    }

    .dws-menu li > ul li:last-child {
        border-right: 2px solid hsl(60, 100%, 50%);
        border-bottom: 1px solid hsl(60, 100%, 50%);
    }

    .dws-menu li > ul li a {
        padding: 10px 8px;
        text-transform: none;
        /*background: linear-gradient(top, hsl(0, 0%, 95%) 0%, hsl(0, 0%, 85%) 40%, hsl(0, 0%, 70%) 100%);*/
    }

    .dws-menu li > ul li ul {
        position: absolute;
        right: -150px;
        top: 0;
    }

.dws-menu li:hover > ul {
    display: block;
}
