@import url('styleGooglefont.css');

body {
}

/* General <========================================================================================================= */

h1, h2, h3, h4 {
    margin: 0;
}

mark {
    border-radius: 5px;
    padding: 0 3px;
    background-color: rgba(255, 255, 255, 0.40);
}

.padding-8-16 {
    padding: 8px 16px;
}

.margin0 {
    margin: 0;
}

.radius4 {
    border-radius: 4px;
}

.radius7 {
    border-radius: 7px;
}

.radius8 {
    border-radius: 8px;
}

.radius9 {
    border-radius: 9px;
}

.radius10 {
    border-radius: 10px;
}

.box-shadow-orange {
    box-shadow: 1px -1px 3px 0 orange, -1px -1px 3px 0 orange, 1px 1px 3px 0 orange, -1px 1px 3px 0 orange;
}

.box-shadow-red {
    box-shadow: 1px -1px 0 0 red, -1px -1px 0 0 red, 1px 1px 0 0 red, -1px 1px 0 0 red;
}

.box-shadow-blue {
    box-shadow: 1px -1px 0 0 blue, -1px -1px 0 0 blue, 1px 1px 0 0 blue, -1px 1px 0 0 blue;
}

.box-shadow-gray {
    box-shadow: 1px -1px 0 0 gray, -1px -1px 0 0 gray, 1px 1px 0 0 gray, -1px 1px 0 0 gray;
}

.fsize-1rem {
    font-size: 1rem;
}

.fsize-1x3rem {
    font-size: 1.3rem;
}

.fsize-1x5rem {
    font-size: 1.5rem;
}

.fsize-2rem {
    font-size: 2rem;
}

.fsize-3rem {
    font-size: 3rem;
}

.allign-center {
    text-align: center;
}

.allign-right {
    text-align: right;
}

.button {
    padding: 8px 16px;
    outline: none;
    border: none;
    background: linear-gradient(to top, darkgray, white);
    transition: 0.1s linear;
    /*color: gray;*/
}

    .button:hover {
        background: linear-gradient(to top, rgba(0, 0, 255, 0.50), white);
    }

    .button:focus {
        background: linear-gradient(to top, rgba(0, 0, 255, 0.50), white);
        box-shadow: 2px -2px 3px 0 gray, -2px -2px 3px 0 gray, 2px 2px 3px 0 gray, -2px 2px 3px 0 gray;
    }

    .button:active {
        background: linear-gradient(to bottom, rgba(0, 0, 255, 0.50), white);
    }

/* Index style <========================================================================================================= */

.body-index {
    margin: 0 auto;
    max-width: 80%;
    height: 100%;
    border: 4px solid white;
    font-family: Arial, sans-serif;
    background-color: #cccccc;
    overflow-y: scroll;
    /*position: relative;*/
}

.header-index {
    display: block;
    background-color: orange;
    width: 100%;
    height: auto;
    overflow: auto;
    text-align: center;
}

.header-general {
    width: 20%;
    float: left;
    text-align: center;
}

    .header-general > table {
        margin: auto;
        width: 90%;
    }

        .header-general > table td img {
            width: 100%;
            height: auto;
        }

.header-content {
    color: white;
    text-align: center;
    font-family: 'Noto Serif';
    letter-spacing: 5px;
    text-shadow: 2px 2px 3px blue;
    float: left;
    width: 80%;
}

.h-subject {
    margin: 16px auto;
    width: 80%;
    word-break: break-word;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    color: orangered;
    background-color: rgba(255, 255, 255, 0.70);
    text-align: center;
    letter-spacing: normal;
    text-shadow: none;
    padding: 1px 1px;
    border: 1px solid blue;
    border-radius: 7px;
}

.header-lesson {
    padding: 8px 0;
}

.header-theme {
    padding: 8px 0;
}

.h-panel {
    color: orange;
    text-align: center;
    font-family: 'Noto Serif';
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px darkblue;
    word-break: break-word;
}

.nav-index {
    display: block;
    width: 20%;
    float: left;
    font-family: Roboto;
    font-weight: 400;
}

input[type="radio"] {
    margin: 0;
    margin-left: 8px;
    padding: 0;
}

    input[type="radio"]:checked + label {
        font-weight: 700;
        color: blue;
    }

        input[type="radio"]:checked + label:hover {
            font-weight: 700;
            color: blue;
        }

    input[type="radio"] + label {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid transparent;
        border-radius: 7px;
        text-overflow: ellipsis;
        word-break: break-word;
    }

        input[type="radio"] + label:hover {
            background-color: orange;
            color: white;
            font-weight: 500;
        }

.section-index {
    display: block;
    width: 55%;
    float: left;
}

    .section-index > p > a {
        padding: 3px 8px;
        border: 1px solid transparent;
        border-radius: 7px;
    }

        .section-index > p > a:hover {
            background-color: orange;
        }

.summarytask-caption {
    /*color: darkseagreen;*/
    width: 100%;
    margin-top: 16px;
    padding: 3px 0;
    background-color: darkseagreen;
    font-weight: 700;
    word-break: break-word;
    display: none;
}

.summary-task {
    font-family: 'PT Serif';
    font-style: italic;
    font-size: 1.1rem;
    text-align: justify;
    margin-right: 8px;
    visibility: hidden;
}

    .summary-task.task-page {
        visibility: visible;
        text-shadow: none;
        letter-spacing: normal;
        margin: 8px 16px 16px 16px;
        width: 90%;
        color: black;
        font-weight: 700;
    }

        .summary-task.task-page ol {
            font-style: normal;
        }

        .summary-task.task-page p {
            margin: 0;
            font-style: italic;
        }

    .summary-task p {
        margin: 0;
        padding: 3px;
    }

        .summary-task p:hover {
            background-color: rgba(255, 255, 255, 0.50);
            border-radius: 7px;
            box-shadow: 1px -1px 3px 0 gold, -1px -1px 3px 0 gold, 1px 1px 3px 0 gold, -1px 1px 3px 0 gold;
        }

.task-description {
    display: none;
    text-align: justify;
    font-family: 'Noto Serif';
}

    .task-description p {
        font-style: italic;
    }

.task-description-img {
    display: none;
    margin: 8px;
    border: 3px solid orange;
    border-radius: 7px;
    width: 25%;
    transition: 0.5s linear;
}

#taskDescriptionImgAdd2 {
    display: block;
}

.task-description-img:hover {
    width: 75%;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 255, 0.20), -2px -2px 5px 0 rgba(0,0,255, 0.20), 2px 2px 5px 0 rgba(0,0,255, 0.20), -2px 2px 5px 0 rgba(0,0,255, 0.20);
}

#linktaskpage {
    visibility: hidden;
    margin-right: 8px;
}

.aside-index {
    display: block;
    width: 25%;
    float: left;
}

    .aside-index > p {
        text-align: center;
        word-break: break-word;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

        .aside-index > p > a {
            padding: 3px 8px;
            border: 1px solid transparent;
            border-radius: 7px;
        }

            .aside-index > p > a:hover {
                background-color: orange;
            }

.footer-index {
    clear: both;
    background-color: orange;
    font-family: 'PT Serif';
    padding: 8px;
}

    .footer-index > .digest {
        background-color: rgba(255, 255, 255, 0.55);
        margin: 16px auto;
        width: 96%;
        word-break: break-word;
        letter-spacing: normal;
        text-shadow: none;
        border: 1px solid blue;
        border-radius: 7px;
    }

.digest div {
    width: 96%;
    margin: 0 auto;
}

.footer-accent {
    color: blue;
    font-weight: 600;
}

.footer-important {
    color: red;
    font-weight: 600;
}
