.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 9999px;
    border: 1px solid rgba(255,255,255,0.5);
}

.logo-name, .logo-img {
    position: absolute;
    transition: 0.8s;
}

.logo-name {
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.logo-img {
    opacity: 0;
    transform: rotate3d(0,1,0,180deg);
}

.logo-box:hover .logo-name {
    transform: rotate3d(0,1,0,180deg);
    opacity: 0;
    cursor: pointer;
}

.logo-box:hover .logo-img {
    transform: rotate3d(0,1,0,0deg);
    opacity: 1;
    cursor: pointer;
}

.logo-socials {
    outline: none;
    transition: 1s;
}

    .logo-socials:hover {
        -webkit-animation: socials 0.3s linear;
        animation: socials 0.3s linear;
        -webkit-animation-iteration-count: 3;
        animation-iteration-count: 3;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

.socials {
    padding-top: 16px;
}

    .socials a {
        border: none;
    }

    @keyframes socials {
        to {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }
}
